{% extends "partials/layout.njk" %}
{% from "partials/statusTag/macro.njk" import statusTag %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "partials/submitButton/macro.njk" import submitButton %}

{% set fullWidth = true %}
{% set pageTitle = "Profile summary" %}

{% block innerContent %}

  <nav class="govuk-width-container">

    <div class="govuk-grid-row">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-6">{{ keyworkerName }}</h1>
      <p> {{ statusTag({ text: keyworkerStatus }) }} </p>
      <a class="govuk-link govuk-link--no-visited-state govuk-body no-label-form-clear-link" href="/dunno">Update
        capacity and status</a>
    </div>

    <hr />

    <hr />

    {% if keyworkerStats.length %}

{#      <p>Displaying statistics from {{ dateFrom | dateString }} to {{ dateTo | dateString}}.#}

      <div class="govuk-grid-row">
        {% for statistic in keyworkerStats %}
          <div class="govuk-grid-column-one-quarter">
            <h2 class="govuk-heading-s">{{ statistic.heading }}</h2>
            <p class="govuk-!-font-size-36">{{ statistic.value }}</p>
            <p>{{ statistic.change.value }}</p>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <h2 class="govuk-heading-s">There is no data for this period.</h2>
    {% endif %}

    <hr />

    <h2 class="govuk-heading-m govuk-!-margin-bottom-6">Current Allocations</h2>

    <nav class="govuk-grid-row">

      {% set rows = [] %}
      {% for item in records %}
        {% set rows = (rows.push([
          {
            html: '<a class="govuk-link--no-visited-state" href="/prisoner/' + item.prisonerId + '">' + item | lastNameCommaFirstName + "</a>",
            attributes: {
            "data-sort-value": item | lastNameCommaFirstName
          }
          },
          {
            text: item.location
          },
          {
            text: item.releaseDate
          },
          {
            text: item.csra
          },
          {
            text: item.recentSession
          }
        ]), rows) %}
      {% endfor %}

      {% if records.length %}

        <nav class="moj-pagination" aria-label="Pagination navigation">
          <ul class="moj-pagination__list"></ul>
          <p class="moj-pagination__results">Showing <b>1</b> to <b>{{ records.length }}</b> of
            <b>{{ records.length }}</b>
            {{ 'result' + ('' if records.length == 1 else 's') }}</p>
        </nav>

        {{ govukTable({
          attributes: {
            "data-module": "moj-sortable-table"
          },
          head: [
            {
              text: 'Name',
              key: 'name',
              attributes: {
              "aria-sort": "ascending"
            }
            },
            {
              text: "Residual location",
              key: 'location',
              attributes: {
              "aria-sort": "none"
            }
            },
            {
              text: "Release date",
              key: 'releaseDate',
              attributes: {
              "aria-sort": "none"
            }
            },
            {
              text: "CSRA",
              key: 'csra',
              attributes: {
              "aria-sort": "none"
            }
            },
            {
              text: "Most recent session",
              key: 'recentSession',
              attributes: {
              "aria-sort": "none"
            }
            }
          ],
          rows: rows
        }) }}

        <nav class="moj-pagination" aria-label="Pagination navigation">
          <ul class="moj-pagination__list"></ul>
          <p class="moj-pagination__results">Showing <b>1</b> to <b>{{ records.length }}</b> of
            <b>{{ records.length }}</b>
            {{ 'result' + ('' if records.length == 1 else 's') }}</p>
        </nav>
      {% endif %}

      {{ submitButton({
        text: "Save changes"
      }) }}

    </nav>
  </nav>

{% endblock %}
