{% extends "govuk/template.njk" %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block head %}
  <link href="{{ '/assets/css/app.css' | assetMap }}" rel="stylesheet"/>

  {% for js in feComponents.jsIncludes %}
    <script src="{{ js }}" nonce="{{ cspNonce }}"></script>
  {% endfor %}

  {% for css in feComponents.cssIncludes %}
    <link href="{{ css }}" nonce="{{ cspNonce }}" rel="stylesheet"/>
  {% endfor %}

  <script nonce="{{ cspNonce }}">
    // Helper functions to convert between Uint8Array and base64
    function uint8ArrayToBase64(bytes) {
      let binary = '';
      bytes.forEach(b => binary += String.fromCharCode(b));
      return btoa(binary);
    }

    async function compressToBase64(text) {
      const stream = new Blob([text]).stream();
      const compressedStream = stream.pipeThrough(new CompressionStream("gzip"));
      const compressedBlob = await new Response(compressedStream).blob();
      const buffer = await compressedBlob.arrayBuffer();
      const base64String = btoa(String.fromCharCode(...new Uint8Array(buffer)));
      return base64String;
    }

    async function decompressFromBase64(base64) {
      const binaryString = atob(base64);
      const bytes = Uint8Array.from(binaryString, c => c.charCodeAt(0));
      const blob = new Blob([bytes]);
      const decompressedStream = blob.stream().pipeThrough(new DecompressionStream("gzip"));
      const decompressedResponse = await new Response(decompressedStream).text();
      return decompressedResponse;
    }

    document.addEventListener('DOMContentLoaded', async function () {
      try { 
        const b64EncHistory = "{{ b64History }}"
        const history = JSON.parse(await decompressFromBase64(b64EncHistory));
        if (!history.length) {
          return
        }

        console.log(`History passed from server through b64History`)
        console.log(JSON.stringify(history, null, 2))

        console.log(`History passed from current URL`)
        const b64EncHistoryFromURL = decodeURIComponent(window.location.search.match(/history=([^&]+)/)?.[1])
        const historyFromURL = JSON.parse(await decompressFromBase64(b64EncHistoryFromURL))
        console.log(JSON.stringify(historyFromURL, null, 2))
        const b64HistoryDecompressed = await btoa(JSON.stringify(historyFromURL))
        console.log(`Zlib length: ${b64EncHistory.length} vs ${b64HistoryDecompressed.length} (saving ${b64HistoryDecompressed.length - b64EncHistory.length} bytes)`)
        console.log('getLastDifferentPage: {{ historyBackUrl }}')

        function pruneHistory(history) {
          const lastPage = history[history.length - 1];
          const earliestIndex = history.indexOf(lastPage);
          return history.slice(0, earliestIndex);
        }

        document.querySelectorAll('a[href]')
          .forEach(async function (link) {
            if (link.href.startsWith(window.location.origin)) {
              const url = new URL(link.href, window.location.origin);
              if (!url.searchParams.get('history')) {
                const urlNoOrigin = link.href.replace(window.location.origin, '')
                const urlHistory = [...history, urlNoOrigin]
                const prunedHistory = pruneHistory(urlHistory)
                url.searchParams.set('history', await compressToBase64(JSON.stringify(urlHistory)))
              }
              url.searchParams.set('js', 'true')
              link.href = url.pathname + url.search + url.hash;
            }
          });
      } catch(e) {
        console.error(`Error decoding history: ${e}`)
      }
    });
  </script>
{% endblock %}

{% block pageTitle %}
  {% set policyNameAlias = (policyStaff | sentenceCase + 's')if policyStaff else
    undefined %}
  {{[pageTitle, policyNameAlias, 'DPS'] | removeNullish | join(' - ')}}
{% endblock %}

{% block header %}
  {{ feComponents.header | safe }}
{% endblock %}

{% block beforeContent %}
  {% switch policyPath %}
  {% case 'key-worker' %}
    {{ govukPhaseBanner({
      tag: {
        text: "Beta"
      },
      html: 'This is a new service - your <a href="mailto:keyworker-rollout@justice.gov.uk">feedback</a> will help us to improve it. You can find out more on <a class="govuk-link" target="_blank" href="https://justiceuk.sharepoint.com/sites/prisons-digital/SitePages/Keyworker.aspx?ga=1">SharePoint</a>.'
    }) }}
  {% case 'personal-officer' %}
    {{ govukPhaseBanner({
      tag: {
        text: "Beta"
      },
      html: 'This is a new service - your <a href="mailto:personalofficer-rollout@justice.gov.uk">feedback</a> will help us to improve it. You can find out more on <a class="govuk-link" target="_blank" href="https://justiceuk.sharepoint.com/sites/prisons-digital/SitePages/Personal%20Officer.aspx?ga=1">SharePoint</a>.'
    }) }}
  {% default %}
  {% endswitch %}
  {% if backUrl == 'javascript-back' %}
    {{ govukBackLink({
      classes: 'js-back-link govuk-!-display-none',
      text: backLabel or "Back"
    }) }}
  {% elseif backUrl %}
    {{ govukBackLink({
      text: backLabel or "Back",
      href: historyBackUrl if backUrl == 'back' else backUrl
    }) }}
  {% endif %}

  {% if showBreadcrumbs and breadcrumbs and(not backUrl) %}
    <div class="csip-breadcrumbs govuk-!-display-none-print">
      <div class="csip-breadcrumbs__breadcrumbs">
        {{ govukBreadcrumbs({
          items: breadcrumbs.items
        }) }}
      </div>
    </div>
  {% endif %}

  {% include './formErrorSummary.njk' %}

  {% block pageHeader %}{% endblock %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="{% if fullWidth %}govuk-grid-column-full{% else %}govuk-grid-column-two-thirds{% endif %}">
      {% block innerContent %}{% endblock %}
    </div>
  </div>
{% endblock %}

{% block bodyStart %}{% endblock %}

{% block footer %}
  {{ feComponents.footer | safe }}
{% endblock %}

{% block bodyEnd %}
  {% if sentry and sentry.loaderScriptId %}
    <script nonce="{{ cspNonce }}">
      window.sentryOnLoad = function () {
        Sentry.init({
          release: "hmpps-alerts-ui@{{ version }}",
          environment: "{{ sentry.environment }}",
          tracesSampleRate: {{ sentry.tracesSampleRate }},
          replaysSessionSampleRate: {{ sentry.replaySampleRate }},
          replaysOnErrorSampleRate: {{ sentry.replayOnErrorSampleRate }},
          initialScope: {
            user: {
              username: "{{ user.username }}"
            }
          }
        });
      };
    </script>
    <script src="https://js.sentry-cdn.com/{{ sentry.loaderScriptId }}.min.js" nonce="{{ cspNonce }}" crossorigin="anonymous"></script>
  {% endif %}
  <script type="module" src="{{ '/assets/js/app.js' | assetMap }}"></script>
  <script nonce="{{ cspNonce }}">
    window.onload = function () {
      const backLink = document.querySelector('.js-back-link')
      if (backLink) {
        backLink
          .classList
          .remove('govuk-!-display-none')
        backLink.addEventListener('click', () => {
          history.back()
        })
      }
    }
  </script>
  {% block pageScripts %}{% endblock %}
{% endblock %}
