{% macro statCard(title, currentValue, previousValue, format='number') %}
  <div class="govuk-grid-column-one-quarter left-aligned">
    <h2 class="govuk-heading-s govuk-!-margin-bottom-2">{{ title }}</h2>
    <p class="govuk-!-margin-bottom-1 govuk-body-l">{{ currentValue | formatValue(format) }}</p>
    <p class="govuk-!-margin-bottom-2">{{ currentValue | getStatChange(previousValue, format) }}</p>
  </div>
{% endmacro %}