{%- from "moj/components/alert/macro.njk" import mojAlert -%}

{% macro deallocateSuccessError(errorCount, successCount) %}
  {% if errorCount or successCount %}
    {% set successHtml %}
      <p>You have successfully made changes to {{ successCount }} prisoner{{ '' if successCount == 1 else 's' }}.</p>
    {% endset %}
    {% set errorHtml %}
      <p class="govuk-!-margin-bottom-6">This is because there are not enough key workers with available capacity.</p>
      <p class="govuk-!-margin-bottom-6">
      To assign unallocated prisoners, you can:
      <ul class="govuk-list govuk-list--bullet">
          <li>view all prisoners without a key worker and manually allocate key workers</li>
          <li>increase the capacity of your key workers</li>
        </ul>
      </p>
    {% endset %}
    {{ mojAlert({
      variant: "warning" if errorCount else "success",
      title: ('Key workers could not be assigned to ' + errorCount + ' prisoner' + ('s' if errorCount != 1)) if errorCount else 'Changes made successfully',
      showTitleAsHeading: true,
      html: errorHtml if errorCount else successHtml
    }) }}
  {% endif %}
{% endmacro %}