{%- from "moj/components/alert/macro.njk" import mojAlert -%}

{% macro deallocateSuccessError(failure, count) %}
  {% if count %}
    {% set prisoner = 'prisoner' if count == 1 else 'prisoners' %}
    {% set successTitle = 'Changes made successfully' %}
    {% set successHtml %}
      <p>You have successfully made changes to {{ count }} {{ prisoner }}.</p>
    {% endset %}
    {{ mojAlert({
      variant: 'success',
      title: successTitle,
      showTitleAsHeading: true,
      html: successHtml,
      classes: 'govuk-!-margin-bottom-0 govuk-!-margin-top-5'
    }) }}
  {% endif %}
{% endmacro %}