{% extends "partials/layout.njk" %}
{% from "moj/components/date-picker/macro.njk" import mojDatePicker %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set fullWidth = true %}
{% set pageTitle = "[staff] statistics for " + user.activeCaseLoad.description %}

{% block innerContent %}
  <h1 class="govuk-heading-l govuk-!-margin-bottom-6">{{ policyName | sentenceCase }} statistics
    for {{ user.activeCaseLoad.description }}</h1>

  <div class="govuk-width-container">
    <p>These statistics do not include people with a high complexity of need level.</p>
    <p>Prisoners in {{ user.activeCaseLoad.description }} have a {{ policyName }} session
      every {{ weekFrequency }} {{ "week" if weekFrequency === 1 else "weeks" }}.</p>

    <hr>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
          {{ mojDatePicker({
              id: "dateFrom",
              name: "dateFrom",
              label: {
                text: "From"
              },
              value: dateFrom,
              maxDate: todayStringGBFormat(),
              errorMessage: validationErrors | findError('dateFrom')
          }) }}

          {{ mojDatePicker({
              id: "dateTo",
              name: "dateTo",
              label: {
                text: "To"
              },
              value: dateTo,
              maxDate: todayStringGBFormat(),
              errorMessage: validationErrors | findError('dateTo')
          }) }}

          {{ govukButton({
              text: "View",
              classes: 'govuk-button--secondary',
              preventDoubleClick: true
          }) }}
        </form>
      </div>
      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-s"> Prisoner to {{ policyName }} ratio</h2>
        <p class="govuk-!-font-size-36">{{ prisonerToKeyWorkerRatio }}:1</p>
      </div>
    </div>

    <hr>

    {% if data.length %}

        <p>Displaying statistics from {{ dateFrom | dateString }} to {{ dateTo | dateString }}.
          {% if hasPreviousStats %}Comparing against statistics from {{ comparisonDateFrom | dateString }} to {{ comparisonDateTo | dateString }}. {% endif %}</p>

      <div class="govuk-grid-row">
        {% for statistic in data %}
          <div class="govuk-grid-column-one-quarter">
            <h2 class="govuk-heading-s">{{ statistic.heading | policyAware(policyName) }}</h2>
            <p class="govuk-!-font-size-36">{{ statistic.value }}</p>
            {% if hasPreviousStats %}<p>{{ statistic.change.value }}</p>{% endif %}
          </div>
        {% endfor %}
      </div>
    {% else %}
      <h2 class="govuk-heading-s">There is no data for this period.</h2>
    {% endif %}
  </div>
{% endblock %}
