{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% extends "partials/layout.njk" %}

{% set pageTitle = "Confirmation" %}

{% block innerContent %}
    {{ govukPanel({
        titleText: policyStaff | sentenceCase  + " role removed",
        text: "You have successfully removed the " + policyStaff + " role from " + staff | lastNameCommaFirstName
    }) }}

  <p class="govuk-body">
    <a class="govuk-link govuk-link--no-visited-state" href="/{{ policyPath }}">Return to {{ policyStaffs }} homepage</a>
  </p>
{% endblock %}
