{% extends "partials/layout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set fullWidth = true %}
{% set pageTitle = "Prisoner [staff] allocation history" %}

{% block innerContent %}

  <div class="mini-profile govuk-!-margin-bottom-7" data-qa="mini-profile">
    <div class="mini-profile-inner">
      <div class="mini-profile-left">
        <img class="mini-profile-person-img" src="/prisoner-image/{{ prisoner.prisonerNumber }}"
             alt="Image of {{ prisoner | lastNameCommaFirstName }}"
             loading="lazy" />
      </div>
      <div class="mini-profile-right">
        <p class="govuk-!-margin-bottom-0">
          <a class="govuk-link--no-visited-state govuk-!-font-weight-bold" target="_blank"
             href="{{ prisonerProfileUrl }}/prisoner/{{ prisoner.prisonerNumber }}">{{ prisoner | lastNameCommaFirstName }}</a>
        </p>
        <p>{{ prisoner.prisonerNumber }}</p>
      </div>
      <div class="mini-profile-right">
        <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-0">Location</p>
        <p class="cell-location">{{ prisoner.cellLocation }}</p>
      </div>
    </div>
  </div>


  <h1 class="govuk-heading-l govuk-!-margin-bottom-0">Prisoner key worker allocation history</h1>
  <hr />

  <h2 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-4">Current and previous allocations: {{ allocationHistory.length }}</h2>

  <div class="govuk-!-width-one-half">
    {% for allocation in allocationHistory %}
      {% if allocation.active %}
        {% set cardTitle = "Current key worker: " + (allocation.keyworker | firstNameSpaceLastName) %}
      {% else %}
        {% set cardTitle = "Previous key worker: " + (allocation.keyworker | firstNameSpaceLastName) %}
      {% endif %}

      {% if allocation.deallocated %}
        {% set deallocatedOn = allocation.deallocated.at | formatDateTime %}
        {% set deallocatedBy = allocation.deallocated.by %}
        {% set deallocationReason = allocation.deallocated.reason.description %}
      {% else %}
        {% set deallocatedOn = "-" %}
        {% set deallocatedBy = "-" %}
        {% set deallocationReason = "-" %}
      {% endif %}

      <div class="dropshadow govuk-!-margin-bottom-6">
        {{ govukSummaryList({
          card: {
            title: {
              text: cardTitle,
              classes: "allocation-summary-card__title"
            }
          },
          rows: [
            {
              key: {
                text: "Establishment",
                classes: "allocation-summary-list__key"},
              value: { text: allocation.prison.description }
            },
            {
              key: { text: "Allocated on" },
              value: { text: allocation.allocated.at | formatDateTime }
            },
            {
              key: { text: "Allocation type" },
              value: { text: allocation.allocated.reason.description }
            },
            {
              key: { text: "Allocated by" },
              value: { text: allocation.allocated.by }
            },
            {
              key: { text: "Deallocated on" },
              value: { text: deallocatedOn }
            },
            {
              key: { text: "Deallocated by" },
              value: { text: deallocatedBy }
            },
            {
              key: { text: "Deallocation reason" },
              value: { text: deallocationReason }
            }
          ]
        }) }}
      </div>
    {% endfor %}
  </div>
{% endblock %}
