{% extends "partials/layout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "partials/mojTabsNavigation/macro.njk" import mojTabsNavigation %}

{% set fullWidth = true %}
{% set pageTitle -%}
  Prisoner {{ tabPolicy | policyString('staff') }} allocation history
{%- endset %}

{% block innerContent %}

  <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">{{ prisoner | lastNameCommaFirstName }} ({{ prisoner.prisonerNumber }})</h1>

  <hr class="govuk-!-margin-bottom-6"/>

  {% if policyPath == 'personal-officer' %}
    {{ mojTabsNavigation({
      label: 'Sub navigation',
      classes: 'govuk-!-margin-top-9',
      items: [{
        text: 'Personal officer allocation history',
        href: '/' + policyPath + '/prisoner-allocation-history/' + prisoner.prisonerNumber + '/personal-officer',
        active: tabPolicy != 'key-worker'
      }, {
        text: 'Key worker allocation history',
        href: '/' + policyPath + '/prisoner-allocation-history/' + prisoner.prisonerNumber + '/key-worker',
        active: tabPolicy == 'key-worker'
      }]
    }) }}
  {% else %}
    <h2 class="govuk-heading-l">Prisoner {{ policyPath | policyString('staff') }} allocation history</h2>
  {% endif %}

  <p class="govuk-body govuk-!-font-weight-bold">Current and previous allocations: {{ allocationHistory.length }}</p>

  <div class="govuk-!-width-one-half">
    {% for allocation in allocationHistory %}
      {% if allocation.active %}
        {% set cardTitle = "Current " + tabPolicy | policyString('staff') + ": " + (
        allocation.staffMember | firstNameSpaceLastName) %}
      {% else %}
        {% set cardTitle = "Previous " + tabPolicy | policyString('staff') + ": " + (
        allocation.staffMember | firstNameSpaceLastName) %}
      {% endif %}

      {% if allocation.deallocated %}
        {% set deallocatedOn = allocation.deallocated.at | formatDateTime %}
        {% set deallocatedBy = allocation.deallocated.by %}
        {% set deallocationReason = allocation.deallocated.reason.description %}
      {% else %}
        {% set deallocatedOn = "-" %}
        {% set deallocatedBy = "-" %}
        {% set deallocationReason = "-" %}
      {% endif %}

      <div class="dropshadow govuk-!-margin-bottom-6">
        {{ govukSummaryList({
          card: {
            title: {
              text: cardTitle,
              classes: "allocation-summary-card__title"
            }
          },
          rows: [
            {
              key: {
                text: "Establishment",
                classes: "allocation-summary-list__key"},
              value: { text: allocation.prison.description }
            },
            {
              key: { text: "Allocated on" },
              value: { text: allocation.allocated.at | formatDateTime }
            },
            {
              key: { text: "Allocated by" },
              value: { text: allocation.allocated.by }
            },
            {
              key: { text: "Deallocated on" },
              value: { text: deallocatedOn }
            },
            {
              key: { text: "Deallocated by" },
              value: { text: deallocatedBy }
            },
            {
              key: { text: "Deallocation reason" },
              value: { text: deallocationReason }
            }
          ]
        }) }}
      </div>
    {% endfor %}
  </div>
{% endblock %}