{% extends "partials/layout.njk" %}

{% set pageTitle = "Not a prison officer" %}

{% block innerContent %}
  <div class="govuk-width-container govuk-body">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-6">You cannot make this person a {{ policyStaff }}</h1>
    <p>You can only assign the {{ policyStaff }} role to prison officers. If you think this person should still be a {{ policyStaff }}, contact <a class="govuk-link govuk-link--no-visited-state" href="mailto:omicenquiries@justice.gov.uk">omicenquiries@justice.gov.uk</a>.</p>
    <p>
      <a class="govuk-link govuk-link--no-visited-state" href="/{{ policyPath }}">Return to {{ policyStaffs }} homepage</a>
    </p>
  </div>
{% endblock %}
