{% extends "partials/layout.njk" %}

{% set fullWidth = true %}
{% set pageTitle -%}Accessibility statement - Allocate key workers and personal officers{%- endset %}

{% block innerContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Accessibility statement</h1>
      
      <p class="govuk-body">
        This accessibility statement applies to the Allocate key workers and personal officers service. 
        This service allows users to manage and monitor allocations of key workers and personal officers to prisoners.
      </p>

      <p class="govuk-body">
        For prisons that have key workers, this service is available at 
        <a href="https://allocate-key-workers.hmpps.service.justice.gov.uk/key-worker" class="govuk-link">
          https://allocate-key-workers.hmpps.service.justice.gov.uk/key-worker
        </a>.
      </p>

      <p class="govuk-body">
        For prisons that have personal officers, this service is available at 
        <a href="https://allocate-key-workers.hmpps.service.justice.gov.uk/personal-officer" class="govuk-link">
          https://allocate-key-workers.hmpps.service.justice.gov.uk/personal-officer
        </a>.
      </p>

      <p class="govuk-body">
        This website is run by HM Prison and Probation Service. We want as many people as possible to be able to use this website. 
        For example, that means you should be able to:
      </p>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>change colours, contrast levels and fonts using browser or device settings</li>
        <li>zoom in up to 400% without the text spilling off the screen</li>
        <li>navigate most of the website using a keyboard or speech recognition software</li>
        <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
      </ul>

      <p class="govuk-body">We’ve also made the website text as simple as possible to understand.</p>

      <p class="govuk-body">
        AbilityNet has 
        <a href="https://mcmw.abilitynet.org.uk/" class="govuk-link">
          advice on making your device easier to use
        </a> if you have a disability.
      </p>

      <h2 class="govuk-heading-m">How accessible this website is</h2>
      <p class="govuk-body">
        The Allocate key workers and personal officers service is fully accessible at the time of writing.
      </p>
      <p class="govuk-body">
        The website has been tested against the 
        <a href="https://www.w3.org/TR/WCAG22/" class="govuk-link">Web Content Accessibility Guidelines version 2.2</a> 
        (WCAG) 2.2 AA standard. The website is fully compliant and meets these standards in full.
      </p>

      <h2 class="govuk-heading-m">Compliance status</h2>
      <p class="govuk-body">
        Accessibility testing was carried out by User Vision. The most viewed pages were tested using automated testing tools. 
        A further audit of the website was carried out to the WCAG 2.2 AA standard.
      </p>

      <p class="govuk-body">Two accessibility reviews have been completed for the Allocate key workers and personal officers service:</p>
      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>The first review, in May 2025, found that the service was 73% compliant to WCAG 2.2 standard level AA criteria</li>
        <li>The second review, in August 2025, found that the service was 98% compliant to WCAG 2.2 standard level AA criteria</li>
        <li>The second review identified 3 final actions to make the service 100% compliant and all of these were completed in September 2025</li>
      </ul>

      <p class="govuk-body">You can read two accessibility reports on the service below:</p>
      <ul class="govuk-list govuk-list--spaced">
        <li>
          <a href="https://justiceuk.sharepoint.com/:b:/r/sites/prisons-digital/Shared%20Documents/Keyworker/Accessibility%20Audit%20-%20Legacy%20Service,%2028.05.25.pdf?csf=1&web=1&e=sxUpe8" class="govuk-link">
            Accessibility Audit - 28 May 2025 (PDF)
          </a>
        </li>
        <li>
          <a href="https://justiceuk.sharepoint.com/:b:/r/sites/prisons-digital/Shared%20Documents/Keyworker/Accessibility%20Spot%20Check%20-%20New%20Service,%2022.08.25.pdf?csf=1&web=1&e=pDofdU" class="govuk-link">
            Accessibility Spot Check - 22 August 2025 (PDF)
          </a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>
      <p class="govuk-body">This website was last tested by a third party on 22 August 2025 against the WCAG 2.2 AA standard.</p>
      <p class="govuk-body">This statement was prepared on 22 September 2025. It was last reviewed on 22 September 2025.</p>

      <h2 class="govuk-heading-m">Feedback and contact information</h2>
      <p class="govuk-body">
        If you think we’re not meeting accessibility requirements, or you need any information from the service listed in a different format, contact: 
        <a href="mailto:moveandimprove@justice.gov.uk" class="govuk-link">moveandimprove@justice.gov.uk</a>
      </p>

      <h2 class="govuk-heading-m">Enforcement procedure</h2>
      <p class="govuk-body">
        The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) 
        Accessibility Regulations 2018 (the ‘accessibility regulations’).
      </p>

      <p class="govuk-body">
        If you’re not happy with how we respond to your complaint, 
        <a href="https://www.equalityadvisoryservice.com/" class="govuk-link">
          contact the Equality Advisory and Support Service (EASS)
        </a>.
      </p>

    </div>
  </div>
{% endblock %}