{% extends "partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set pageTitle = "Check your answers" %}

{% block innerContent %}
  <div class="govuk-width-container govuk-body">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-6">
      Check your answers
    </h1>

    {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-7",
      rows: [
        {
          key: {
          text: "Name"
        },
          value: {
          text: staff | lastNameCommaFirstName
        },
          actions: {
          items: [
            {
              href: "../assign",
              text: "Change",
              visuallyHiddenText: "the staff member",
              classes: "govuk-link--no-visited-state"
            }
          ]
        }
        },
        {
          key: {
          text: "Role"
        },
          value: {
          text: "Prison officer"
        },
          actions: {
          items: [
            {
              href: "role",
              text: "Change",
              visuallyHiddenText: "whether the staff member is a prison officer",
              classes: "govuk-link--no-visited-state"
            }
          ]
        }
        },
        {
          key: {
          text: "Working pattern"
        },
          value: {
          text: scheduleType.description
        },
          actions: {
          items: [
            {
              href: "working-pattern",
              text: "Change",
              visuallyHiddenText: "the staff member’s working pattern",
              classes: "govuk-link--no-visited-state"
            }
          ]
        }
        }
      ]
    }) }}

    <form method="post">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      {{ govukButton({
        text: "Confirm and submit",
        preventDoubleClick: true
      }) }}
    </form>
  </div>
{% endblock %}
