{% extends "partials/layout.njk" %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <h1 class="govuk-heading-l govuk-!-margin-bottom-6">{{ (policyStaffs or "NOT SET") | sentenceCase }}</h1>
    <div class="homepage-content">
      <div class="govuk-width-container">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <div class="card-group govuk-grid-row">
            {% if prisonEnabled %}
              {% if user | hasPermission('view') %}
                <div class="govuk-grid-column-one-third card-group__item">
                  <div class="card card--clickable">
                    <h2 class="govuk-heading-m card__heading">
                      <a class="govuk-link govuk-link--no-visited-state card__link" href="/{{ policyPath }}/allocate">Allocate {{ policyStaffs }} to prisoners</a>
                    </h2>
                    <p class="govuk-body card__description">
                      {% if allowAutoAllocation -%}
                        View all prisoners or filter by location or allocation status, search for individuals, and automatically assign {{ policyStaffs }}.
                      {%- else -%}
                        View all prisoners, search for individuals, or filter by location or allocation status.
                      {%- endif %}
                    </p>
                  </div>
                </div>

                <div class="govuk-grid-column-one-third card-group__item">
                  <div class="card card--clickable">
                    <h2 class="govuk-heading-m card__heading">
                      <a class="govuk-link govuk-link--no-visited-state card__link" href="/{{ policyPath }}/manage">Manage {{ policyStaffs }}</a>
                    </h2>
                    <p class="govuk-body card__description">View {{ policyStaffs }}, change their status and capacity, and view and reassign their prisoners.</p>
                  </div>
                </div>

                <div class="govuk-grid-column-one-third card-group__item">
                  <div class="card card--clickable">
                    <h2 class="govuk-heading-m card__heading">
                      <a class="govuk-link govuk-link--no-visited-state card__link" href="/{{ policyPath }}/data">View {{ policyStaff }} data</a>
                    </h2>
                    <p class="govuk-body card__description">View {{ policyStaff }} data for your establishment.</p>
                  </div>
                </div>
              {% else %}
                <div class="govuk-grid-column-one-third card-group__item">
                  <div class="card card--clickable">
                    <h2 class="govuk-heading-m card__heading">
                      <a class="govuk-link govuk-link--no-visited-state card__link" href="/{{ policyPath }}/staff-profile/{{ user.userId }}">My {{ policyStaff }} allocations</a>
                    </h2>
                    <p class="govuk-body card__description">View your {{ policyStaff }} allocations and personal statistics.</p>
                  </div>
                </div>
              {% endif %}

              {% if user | hasPermission('allocate') %}
                <div class="govuk-grid-column-one-third card-group__item">
                  <div class="card card--clickable">
                    <h2 class="govuk-heading-m card__heading">
                      <a class="govuk-link govuk-link--no-visited-state card__link" href="/{{ policyPath }}/manage-roles">Manage {{ policyStaff }} roles</a>
                    </h2>
                    <p class="govuk-body card__description">Assign or remove the {{ policyStaff }} role for prison officers in your establishment.</p>
                  </div>
                </div>
              {% endif %}
            {% endif %}

              {% if user | hasPermission('allocate') %}
                <div class="govuk-grid-column-one-third card-group__item">
                  <div class="card card--clickable">
                    <h2 class="govuk-heading-m card__heading">
                      <a class="govuk-link govuk-link--no-visited-state card__link" href="/{{ policyPath }}/establishment-settings">Manage your establishment’s {{ policyStaff }} settings</a>
                    </h2>
                    <p class="govuk-body card__description">Enable automatic assignment of {{ policyStaffs }}, set capacity and view session frequency settings.</p>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
