{% extends "partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pageTitle = "Key workers" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <h1 class="govuk-heading-l govuk-!-margin-bottom-6">Key workers</h1>

  <div class="homepage-content-container">
      <div class="homepage-content">
          <div class="govuk-width-container">
              <div class="govuk-grid-row">
                  <div class="govuk-grid-column-full">
                      <div class="card-group govuk-grid-row">

                          <div class="govuk-grid-column-one-third card-group__item">
                              <div class="card card--clickable">
                                  <h2 class="govuk-heading-m card__heading">
                                      <a class="govuk-link govuk-link--no-visited-state card__link" href="{{ legacyKeyWorkersUiUrl }}/manage-key-workers/allocate-key-worker">View all without a key worker</a>
                                  </h2>
                                  <p class="govuk-body card__description">You can allocate key workers to these prisoners. You can also automatically allocate a key worker to these prisoners if your establishment allows it.</p>
                              </div>
                          </div>

                          <div class="govuk-grid-column-one-third card-group__item">
                              <div class="card card--clickable">
                                  <h2 class="govuk-heading-m card__heading">
                                      <a class="govuk-link govuk-link--no-visited-state card__link" href="{{ legacyKeyWorkersUiUrl }}/manage-key-workers/view-residential-location">View by residential location</a>
                                  </h2>
                                    <p class="govuk-body card__description">
                                      View all prisoners in a residential location and allocate or change key workers.
                                      {% if hasPrisonersWithHighComplexityNeeds %} You can also see high complexity prisoners.{% endif %}
                                    </p>
                              </div>
                          </div>

                        <div class="govuk-grid-column-one-third card-group__item">
                          <div class="card card--clickable">
                            <h2 class="govuk-heading-m card__heading">
                              <a class="govuk-link govuk-link--no-visited-state card__link" href="{{ legacyKeyWorkersUiUrl }}/manage-key-workers/search-for-prisoner">Search for a prisoner</a>
                            </h2>
                            <p class="govuk-body card__description">You can allocate or change a key worker after searching for a prisoner. You will need the prisoner’s name or prison number.</p>
                          </div>
                        </div>

                        {% if user.permissions.view or user.permissions.allocate %}
                          <div class="govuk-grid-column-one-third card-group__item">
                            <div class="card card--clickable">
                              <h2 class="govuk-heading-m card__heading">
                                <a class="govuk-link govuk-link--no-visited-state card__link" href="{{ legacyKeyWorkersUiUrl }}/key-worker-search">View key workers in your establishment</a>
                              </h2>
                              {% if user.permissions.allocate %}
                                <p class="govuk-body card__description">You can manage a key worker’s availability, reassign their prisoners and check their individual statistics.</p>
                              {% else %}
                                <p class="govuk-body card__description">You can view a key worker’s availability and check their individual statistics.</p>
                              {% endif %}
                            </div>
                          </div>
                        {% endif %}

                        <div class="govuk-grid-column-one-third card-group__item">
                          <div class="card card--clickable">
                            <h2 class="govuk-heading-m card__heading">
                              <a class="govuk-link govuk-link--no-visited-state card__link" href="/key-worker-statistics">Key worker statistics</a>
                            </h2>
                            <p class="govuk-body card__description">View the statistics for your establishment’s key workers.</p>
                          </div>
                        </div>
                        {% if user.permissions.allocate %}
                          <div class="govuk-grid-column-one-third card-group__item">
                            <div class="card card--clickable">
                              <h2 class="govuk-heading-m card__heading">
                                <a class="govuk-link govuk-link--no-visited-state card__link" href="{{ legacyKeyWorkersUiUrl }}/manage-key-worker-settings">Manage your establishment’s key worker settings</a>
                              </h2>
                              <p class="govuk-body card__description">Allow auto-allocation, edit key worker capacity and session frequency.</p>
                            </div>
                          </div>
                        {% endif %}

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  {{ govukTable({
  attributes: {
    "data-module": "moj-sortable-table"
  },
  head: [
    {
      text: "Name",
      attributes: {
        "aria-sort": "ascending"
      }
    },
    {
      text: "Elevation",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Continent",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "First summit",
      attributes: {
        "aria-sort": "none"
      },
      format: "numeric"
    }
  ],
  rows: [
    [
      {
        text: "Aconcagua"
      },
      {
        text: "6,961 meters",
        attributes: {
          "data-sort-value": "6961"
        }
      },
      {
        text: "South America"
      },
      {
        text: "1897",
        format: "numeric",
        attributes: {
          "data-sort-value": "1897"
        }
      }
    ],
    [
      {
        text: "Denali"
      },
      {
        text: "6,194 meters",
        attributes: {
          "data-sort-value": "6194"
        }
      },
      {
        text: "North America"
      },
      {
        text: "1913",
        format: "numeric",
        attributes: {
          "data-sort-value": "1913"
        }
      }
    ],
    [
      {
        text: "Elbrus"
      },
      {
        text: "5,642 meters",
        attributes: {
          "data-sort-value": "5642"
        }
      },
      {
        text: "Europe"
      },
      {
        text: "1874",
        format: "numeric",
        attributes: {
          "data-sort-value": "1874"
        }
      }
    ],
    [
      {
        text: "Everest"
      },
      {
        text: "8,850 meters",
        attributes: {
          "data-sort-value": "8850"
        }
      },
      {
        text: "Asia"
      },
      {
        text: "1953",
        format: "numeric",
        attributes: {
          "data-sort-value": "1953"
        }
      }
    ],
    [
      {
        text: "Kilimanjaro"
      },
      {
        text: "5,895 meters",
        attributes: {
          "data-sort-value": "5895"
        }
      },
      {
        text: "Africa"
      },
      {
        text: "1889",
        format: "numeric",
        attributes: {
          "data-sort-value": "1889"
        }
      }
    ],
    [
      {
        text: "Puncak Jaya"
      },
      {
        text: "4,884 meters",
        attributes: {
          "data-sort-value": "4884"
        }
      },
      {
        text: "Australia"
      },
      {
        text: "1962",
        format: "numeric",
        attributes: {
          "data-sort-value": "1962"
        }
      }
    ],
    [
      {
        text: "Vinson"
      },
      {
        text: "4,897 meters",
        attributes: {
          "data-sort-value": "4897"
        }
      },
      {
        text: "Antarctica"
      },
      {
        text: "1966",
        format: "numeric",
        attributes: {
          "data-sort-value": "1966"
        }
      }
    ]
  ]
}) }}

{% endblock %}
