.govuk-main-wrapper {
  min-height: 600px;
}

.homepage-content {
  padding: 50px 0;
  background: #f0f4f5;
  min-height: 500px;
  position: absolute;
  left: 0;
  width: 100vw;
}

.dropshadow {
  box-shadow: 0 5px govuk-colour('mid-grey');
}

.grid-column-one-fifth {
  box-sizing: border-box;
  width: 100%;
  padding: 0 15px;
}

@media (min-width: 40.0625em) {
  .grid-column-one-fifth {
    width: 20%;
    float: left;
  }
}

.date-search-form {
  display: flex;
  gap: 20px;
  align-items: flex-end;
}
