%status-style {
  @media screen {
    padding: 5px;
  }
}

.alerts-list {
  @extend %govuk-list;
  margin-bottom: 0;

  @media screen {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    margin-bottom: 10px;
  }
}
