.search-form {
  background-color: #f3f2f1;
  padding: 10px;
  .govuk-select {
    width: 100%;
  }
}

.select-container {
  @include govuk-media-query($from: desktop) {
    padding-left: govuk-spacing(0);
  }
}

.button-container {
  @include govuk-media-query($from: desktop) {
    margin-top: govuk-spacing(6);
    padding-left: govuk-spacing(3);
  }
}

.horizontal-form {
  * {
    width: 100%;
  }

  button {
    margin-top: govuk-spacing(2);
    width: 100%;
  }

  a.no-label-form-clear-link {
    display: inline-block;
    text-align: center;
    margin-top: govuk-spacing(2);
  }

  @include govuk-media-query($from: desktop) {
    display: flex;
    flex-flow: row wrap;

    * {
      width: auto;
      margin-bottom: 0;
    }

    > div {
      margin-right: govuk-spacing(3);
    }

    .date-picker-container input {
      width: 130px !important;
    }

    label {
      margin-bottom: govuk-spacing(1);
    }

    button {
      margin-right: govuk-spacing(3);
      margin-bottom: $govuk-border-width-form-element;
      margin-top: 0;
      width: auto;
    }

    a {
      margin-bottom: 10px;
      text-align: left;
    }

    button,
    a {
      align-self: flex-end;
    }
  }
}

.horizontal-links {
  > a {
    margin-right: govuk-spacing(2);
  }

  @include govuk-media-query($from: desktop) {
    display: flex;

    * {
      width: auto;
      margin-bottom: 0;
    }

    > a {
      margin-right: govuk-spacing(3);
    }
  }
}

.no-label-form-clear-link {
  margin-bottom: 10px;
  margin-top: 0 !important;
}
