{% from "dps/components/alert-flag/macro.njk" import alertFlag as dpsAlertFlag %}

{% macro alertFlags(link, relevantAlerts, otherAlerts) %}
  <div>
    {% if relevantAlerts.length > 0 %}
      <ul class="alerts-list">
        {% for relevantAlert in relevantAlerts %}
          <li>
            {{ dpsAlertFlag({
              alert: { label: relevantAlert.label, classes: relevantAlert.classes }
            }) }}
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if otherAlerts > 0 %}
      <p class="govuk-!-margin-bottom-0">
        <a class="govuk-link--no-visited-state" href="{{link}}">
          {{'' if relevantAlerts.length == 0 else '+'}}{{ otherAlerts }} active alert{{ 's' if otherAlerts !== 1 }}
        </a>
      </p>
    {% elif relevantAlerts.length == 0 %}
      None
    {% endif %}
  </div>
{% endmacro %}
