{% extends "partials/layout.njk" %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "partials/statusTag/macro.njk" import statusTag %}
{% from "partials/mojPagination/macro.njk" import mojPagination %}

{% set fullWidth = true %}
{% set pageTitle = "Manage [staffs]" %}

{% block innerContent %}
  <h1 class="govuk-heading-l govuk-!-margin-bottom-6">Manage {{ policyStaffs }}</h1>

  <div class="govuk-width-container">
    <div class="govuk-grid-row">

      <form method="post" class="govuk-grid-row govuk-!-margin-right-0 govuk-!-margin-left-0 govuk-!-margin-bottom-7 govuk-!-padding-top-4 govuk-!-padding-bottom-2 govuk-!-padding-left-4 govuk-!-padding-right-4 search-form">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        <h2 class="govuk-heading-m">Filter by</h2>
        <div class="horizontal-form">
          {{ govukInput({
            id: "query",
            name: "query",
            value: params.query,
            classes: "flex-grow",
            formGroup: {
              classes: "flex-grow"
            },
            label: {
              text: policyStaff | sentenceCase + ' name'
            }
            }) }}

          {{ govukSelect({
            id: "status",
            name: "status",
            classes: "govuk-!-padding-right-4",
            label: {
              text: "Status"
            },
            items: status | addSelectValue('', true)
            }) }}
        </div>
        <div class="govuk-button-group govuk-!-margin-top-3 govuk-!-margin-bottom-0">
          {{ govukButton({
              text: "Apply filters",
              preventDoubleClick: true
          }) }}
          <a class="govuk-link govuk-link--no-visited-state" href="?clear=true">Clear</a>
        </div>
      </form>
    </div>
    <div class="govuk-grid-row">

      {% set rows = [] %}
      {% for item in records %}
        {% set rows = (rows.push([
          {
            html: '<a class="govuk-link--no-visited-state" href="staff-profile/' + item.staffId + '">' + item | lastNameCommaFirstName + "</a>",
            attributes: {
              "data-sort-value": item | lastNameCommaFirstName
            }
          },
          {
            html: statusTag({ text: item.status.description, short: true }),
            attributes: {
              "data-sort-value": item.status.description
            }
          },
          {
            text: item.staffRole.scheduleType.code
          },
          {
            text: item.allocated
          },
          {
            text: item.capacity
          },
          {
            text: item.stats.recordedComplianceEvents
          },
          {
            text: item.stats.complianceRate | round(1) + '%',
            attributes: {
              "data-sort-value": item.stats.complianceRate
            }
          } if policyPath == 'key-worker' else undefined
        ] | removeNullish), rows) %}
      {% endfor %}

      {% if records.length %}

        {{ mojPagination(records.length) }}

        {{ govukTable({
            attributes: {
              "data-module": "moj-sortable-table"
            },
            head: [
              {
                text: 'Name',
                key: 'name',
                attributes: {
                  "aria-sort": "ascending"
                }
              },
              {
                text: "Status",
                key: 'status',
                attributes: {
                  "aria-sort": "none"
                }
              },
              {
                text: "Working pattern",
                key: 'workingPattern',
                attributes: {
                  "aria-sort": "none"
                }
              },
              {
                text: "Allocated prisoners",
                key: 'numberAllocated',
                attributes: {
                  "aria-sort": "none"
                }
              },
              {
                text: "Maximum capacity",
                key: 'capacity',
                attributes: {
                  "aria-sort": "none"
                }
              },
              {
                text: "Sessions in last month",
                key: 'numberOfKeyworkerSessions',
                attributes: {
                  "aria-sort": "none"
                }
              },
              {
                text: "Delivery rate",
                key: 'deliveryRate',
                attributes: {
                  "aria-sort": "none"
                }
              } if policyPath == 'key-worker' else undefined
            ],
            rows: rows
         }) }}

        {{ mojPagination(records.length) }}

      {% else %}
        <p class="govuk-!-margin-bottom-6">No results for this search criteria.</p>
      {% endif %}

    </div>
  </div>
{% endblock %}
