{% extends "partials/layout.njk" %}
{% from "partials/statusTag/macro.njk" import statusTag %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "partials/submitButton/macro.njk" import submitButton %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set fullWidth = true %}
{% set pageTitle = "Update capacity and status" %}

{% block innerContent %}

  {% if successMessage %}
    {{ govukNotificationBanner({
      text: successMessage,
      type: "success"
    }) }}
  {% endif %}

  <div class="govuk-width-container">

    <div class="govuk-grid-row govuk-!-margin-0">
      <h1 class="govuk-heading-l govuk-!-display-inline-block govuk-!-margin-0">{{ keyworker | firstNameSpaceLastName }}</h1>
      <p class="govuk-!-margin-left-2 govuk-!-display-inline-block govuk-!-margin-0 "> {{ statusTag({ text: status.description }) }}</p>
    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
    <form method="post">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      <div class="govuk-grid-row">
        <div class="grid-column-one-fifth">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Establishment</h2>
          <p>{{ prison.description }}</p>
        </div>
        <div class="grid-column-one-fifth">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Schedule type</h2>
          <p>{{ keyworker.scheduleType.description }}</p>
        </div>
        <div class="grid-column-one-fifth">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Prisoners allocated</h2>
          <p>{{ allocated }}</p>
        </div>
        <div class="grid-column-one-fifth">
          {{ govukInput({
            label: {
              text: "Maximum capacity",
              classes: "govuk-fieldset__legend--s govuk-!-margin-bottom-2",
              isPageHeading: false
            },
            id: "capacity",
            name: "capacity",
            value: capacity,
            classes: "govuk-!-width-one-third",
            errorMessage: validationErrors | findError('capacity')
          }) }}
        </div>
        <div class="grid-column-one-fifth">
          {{ govukSelect({
            label: {
              text: "Status",
              classes: "govuk-fieldset__legend--s govuk-!-margin-bottom-2",
              isPageHeading: false
            },
            id: "status",
            name: "status",
            items: statuses | setSelectedValue(statusCode),
            classes: "govuk-!-width-one-half"
          }) }}
        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0" />

      {{ submitButton({
        text: "Save and continue"
      }) }}
    </form>

  </div>

{% endblock %}
