{% extends "partials/layout.njk" %}
{% from "partials/statusTag/macro.njk" import statusTag %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "partials/submitButton/macro.njk" import submitButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "./components/statCard.njk" import statCard %}

{% set fullWidth = true %}
{% set pageTitle = "Key Worker Profile" %}

{% block innerContent %}

  <div class="govuk-width-container">

    <div class="govuk-grid-row govuk-!-margin-0">
      <h1 class="govuk-heading-l govuk-!-display-inline-block govuk-!-margin-0">{{ keyworkerName | nameCase }}</h1>
      <p class="govuk-!-margin-left-2 govuk-!-display-inline-block govuk-!-margin-0 "> {{ statusTag({ text: keyworkerStatus }) }} </p>
      <a class="govuk-!-margin-left-2 govuk-link govuk-link--no-visited-state govuk-!-display-inline-block " href="/edit-key-worker-settings">Update capacity and status</a>
    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter left-aligned">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Establishment</h2>
        <p class="govuk-!-margin-bottom-2">{{ prison.description }}</p>
      </div>

      <div class="govuk-grid-column-one-quarter left-aligned">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Schedule type</h2>
        <p class="govuk-!-margin-bottom-2">{{ keyworker.scheduleType.description }}</p>
      </div>

      <div class="govuk-grid-column-one-quarter left-aligned">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Prisoners allocated</h2>
        <p class="govuk-!-margin-bottom-2">{{ allocated }}</p>
      </div>

      <div class="govuk-grid-column-one-quarter left-aligned">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Maximum capacity</h2>
        <p class="govuk-!-margin-bottom-2">{{ capacity }}</p>
      </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />

    <h2 class="govuk-body-l"><strong>Statistics for period:</strong> {{ stats.current.from | dateString }} to {{ stats.current.to | dateString }} </h2>
    <div class="govuk-grid-row">
      {{ statCard('Projected sessions', stats.current.projectedSessions, stats.previous.projectedSessions ) }}

      {{ statCard('Recorded sessions', stats.current.recordedSessions, stats.previous.recordedSessions ) }}

      {{ statCard('Session compliance', stats.current.complianceRate, stats.previous.complianceRate, 'percentage') }}

      {{ statCard('Case notes written', stats.current.recordedEntries + stats.current.recordedSessions, stats.previous.recordedEntries + stats.previous.recordedSessions) }}
    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />

    <hr class="govuk-section-break govuk-section-break--m" />

    <h2 class="govuk-heading-m govuk-!-display-inline">Current allocations</h2>

      {% set rows = [] %}
      {% for item in records %}
        {% set rows = (rows.push([
          {
            html: '<a class="govuk-link--no-visited-state" href="' + prisonerProfileUrl + '/prisoner/' + item.prisonerId + '">' + item | lastNameCommaFirstName + "</a><br/>" + item.prisonerId,
            attributes: {
            "data-sort-value": item | lastNameCommaFirstName
          }
          },
          {
            text: item.location
          },
          {
            text: item.releaseDate
          },
          {
            text: item.csra
          },
          {
            text: item.recentSession
          },
          {
            text: "Allocate Prisoner",
            html: govukSelect({
              id: "allocatePrisoner",
              name: "allocatePrisoner",
              formGroup: {
                classes: "govuk-!-margin-0"
              },
              items: [
                {
                  value: 'reallocate',
                  text: 'Reallocate'
                },
                {
                  value: 'deallocate',
                  text: 'Deallocate'
                }
              ] | addDefaultSelectedValue('No change', true)
          })
          }
        ]), rows) %}
      {% endfor %}

      {% if records.length %}

        <nav class="moj-pagination float-right" aria-label="Pagination navigation">
          <ul class="moj-pagination__list"></ul>
          <p class="moj-pagination__results">Showing <b>1</b> to <b>{{ records.length }}</b> of
            <b>{{ records.length }}</b>
            {{ 'result' + ('' if records.length == 1 else 's') }}</p>
        </nav>

        {{ govukTable({
          attributes: {
            "data-module": "moj-sortable-table"
          },
          classes: 'table-vertical-align-middle govuk-!-margin-top-6 center-align-content',
          head: [
            {
              text: 'Name and prisoner number',
              key: 'name',
              attributes: {
              "aria-sort": "ascending"
            }
            },
            {
              text: "Residential location",
              key: 'location',
              attributes: {
              "aria-sort": "none"
            }
            },
            {
              text: "Release date",
              key: 'releaseDate',
              attributes: {
              "aria-sort": "none"
            }
            },
            {
              text: "CSRA",
              key: 'csra',
              attributes: {
              "aria-sort": "none"
            }
            },
            {
              text: "Most recent session",
              key: 'recentSession',
              attributes: {
              "aria-sort": "none"
            }
            },
            {
              text: "Reallocate or deallocate prisoner"
            }
          ],
          rows: rows
        }) }}

        <nav class="moj-pagination" aria-label="Pagination navigation">
          <ul class="moj-pagination__list"></ul>
          <p class="moj-pagination__results">Showing <b>1</b> to <b>{{ records.length }}</b> of
            <b>{{ records.length }}</b>
            {{ 'result' + ('' if records.length == 1 else 's') }}</p>
        </nav>

      {% else %}
        <p class="govuk-!-margin-bottom-6">There are no allocations for this keyworker.</p>
      {% endif %}

      {{ submitButton({
        text: "Save changes"
      }) }}

  </div>

{% endblock %}
