{% extends "partials/layout.njk" %}
{% from "partials/statusTag/macro.njk" import statusTag %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "partials/submitButton/macro.njk" import submitButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "./components/statCard.njk" import statCard %}
{% from "partials/mojPagination/macro.njk" import mojPagination %}
{%- from "moj/components/alert/macro.njk" import mojAlert -%}

{% set fullWidth = true %}
{% set pageTitle = "Key Worker Profile" %}

{% block pageHeader %}
  <br/>
  {% if errorCount or successCount %}
    {% set successHtml %}
      <p>You have successfully made changes to {{ successCount }} prisoner{{ '' if successCount == 1 else 's' }}.</p>
    {% endset %}
    {% set errorHtml %}
      <p class="govuk-!-margin-bottom-6">
          This is because there are not enough key workers with available capacity.
        </p>
      <p class="govuk-!-margin-bottom-6">
          To assign unallocated prisoners, you can:
          <ul class="govuk-list govuk-list--bullet">
          <li>view all prisoners without a key worker and manually allocate key workers</li>
          <li>increase the capacity of your key workers</li>
        </ul>
      </p>
    {% endset %}
    {{ mojAlert({
      variant: "warning" if errorCount else "success",
      title: ('Key workers could not be assigned to ' + errorCount + ' prisoners') if errorCount else 'Changes made successfully',
      showTitleAsHeading: true,
      html: errorHtml if errorCount else successHtml
    }) }}
  {% endif %}
{% endblock %}

{% block innerContent %}

  <div class="govuk-width-container">

    <div class="govuk-grid-row govuk-!-margin-0">
      <h1 class="govuk-heading-l govuk-!-display-inline-block govuk-!-margin-0">{{ keyworker | firstNameSpaceLastName }}</h1>
      <p class="govuk-!-margin-left-2 govuk-!-display-inline-block govuk-!-margin-0 ">
        {{ statusTag({ text: status.description }) }}
      </p>
      <a class="govuk-!-margin-left-2 govuk-link govuk-link--no-visited-state govuk-!-display-inline-block " href="/edit-key-worker-settings">Update capacity and status</a>
    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"/>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter left-aligned">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Establishment</h2>
        <p class="govuk-!-margin-bottom-2">{{ prison.description }}</p>
      </div>

      <div class="govuk-grid-column-one-quarter left-aligned">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Schedule type</h2>
        <p class="govuk-!-margin-bottom-2">{{ keyworker.scheduleType.description }}</p>
      </div>

      <div class="govuk-grid-column-one-quarter left-aligned">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Prisoners allocated</h2>
        <p class="govuk-!-margin-bottom-2">{{ allocated }}</p>
      </div>

      <div class="govuk-grid-column-one-quarter left-aligned">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Maximum capacity</h2>
        <p class="govuk-!-margin-bottom-2">{{ capacity }}</p>
      </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"/>

    <h2 class="govuk-body-l">
      <strong>Statistics for period:</strong>
      {{ stats.current.from | dateString }} to {{ stats.current.to | dateString }}
    </h2>
    <div class="govuk-grid-row">
      {{ statCard('Projected sessions', stats.current.projectedSessions, stats.previous.projectedSessions ) }}

      {{ statCard('Recorded sessions', stats.current.recordedSessions, stats.previous.recordedSessions ) }}

      {{ statCard('Session compliance', stats.current.complianceRate, stats.previous.complianceRate, 'percentage') }}

      {{ statCard('Case notes written', stats.current.recordedEntries + stats.current.recordedSessions, stats.previous.recordedEntries + stats.previous.recordedSessions) }}
    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"/>

    <hr class="govuk-section-break govuk-section-break--m"/>

    <h2 class="govuk-heading-m govuk-!-display-inline">Current allocations</h2>

    {% set rows = [] %}
    {% for item in allocations %}
      {% set rows = (rows.push([
          {
            html: '<a class="govuk-link--no-visited-state" target="_blank" href="' + prisonerProfileUrl + '/prisoner/' + item.prisoner.prisonNumber + '">' + item.prisoner | lastNameCommaFirstName + "</a><br/>" + item.prisoner.prisonNumber,
            attributes: {
            "data-sort-value": item.prisoner | lastNameCommaFirstName
          }
          },
          {
            text: item.prisoner.cellLocation
          },
          {
            text: item.prisoner.releaseDate | formatDateConcise | default('-', true)
          },
          {
            text: item.prisoner.csra | default('-', true)
          },
          {
            text: item.latestSession.occurredAt | formatDateConcise | default('-', true) if item.latestSession else '-'
          },
          {
            text: "Select keyworker",
            html: govukSelect({
              id: "selectKeyworker",
              name: "selectKeyworker",
              text: 'Select key worker',
              formGroup: {
                classes: "govuk-!-margin-0"
              },
              items: keyworkers | excludeCurrentKeyworker(keyworker) | addSelectValue('Deallocate', true, 'deallocate:' + keyworker.staffId, false) | mergePrisonerKeyworkerIds(item.prisoner.prisonNumber) |addSelectValue('Select key worker')
            })
          }
        ]), rows) %}
    {% endfor %}

    <form method="post" >
      <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
      {% if allocations.length %}
        {{ mojPagination(allocations.length) }}

        {{ govukTable({
          attributes: {
            "data-module": "moj-sortable-table"
          },
          classes: 'table-vertical-align-middle govuk-!-margin-top-6 center-align-content',
          head: [
            {
              text: 'Name and prisoner number',
              key: 'name',
              attributes: {
                "aria-sort": "ascending"
              }
            },
            {
              text: "Residential location",
              key: 'location',
              attributes: {
                "aria-sort": "none"
              }
            },
            {
              text: "Release date",
              key: 'releaseDate',
              attributes: {
                "aria-sort": "none"
              }
            },
            {
              text: "CSRA",
              key: 'csra',
              attributes: {
                "aria-sort": "none"
              }
            },
            {
              text: "Most recent session",
              key: 'recentSession',
              attributes: {
                "aria-sort": "none"
              }
            },
            {
              text: "Change key worker"
            }
          ],
          rows: rows
        }) }}

        {{ mojPagination(allocations.length) }}

      {% else %}
        <p class="govuk-!-margin-bottom-6">There are no allocations for this keyworker.</p>
      {% endif %}

      {{ submitButton({
        text: "Save changes",
        preventDoubleClick: true
      }) }}
    </form>
  </div>

{% endblock %}