{% extends "partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% set pageTitle = "Are they a prison officer" %}

{% block innerContent %}
  <div class="govuk-width-container govuk-body">
    <form method="post">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      {{ govukRadios({
        name: "isPrisonOfficer",
        errorMessage: validationErrors | findError('isPrisonOfficer'),
        fieldset: {
          legend: {
            text: "Is this person a prison officer?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: 'YES',
            text: "Yes",
            checked: isPrisonOfficer === true
          },
          {
            value: 'NO',
            text: "No",
            checked: isPrisonOfficer === false
          }
        ]
      }) }}

      {{ govukWarningText({
        text: "Only prison officers can be assigned the " + policyName + " role. If this individual is not a prison officer you cannot assign the role to them.",
        iconFallbackText: "Warning"
      }) }}

      {{ govukButton({
        text: "Continue",
        preventDoubleClick: true
      }) }}
    </form>
  </div>
{% endblock %}
