{% extends "partials/layout.njk" %}
{% from "partials/statusTag/macro.njk" import statusTag %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitle = "What is this individual’s role? - " + policyName | sentenceCase %}

{% block innerContent %}
  <div class="govuk-width-container govuk-body">
    <form method="post">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      {{ govukRadios({
        classes: "govuk-!-margin-bottom-6",
        name: "role",
        fieldset: {
          legend: {
            text: "What is this individual’s role?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: roles | setCheckedValue(role),
        errorMessage: validationErrors | findError('role')
      }) }}

      {{ govukButton({
        text: "Continue",
        preventDoubleClick: true
      }) }}
    </form>
  </div>
{% endblock %}
