{% extends "partials/layout.njk" %}
{% from "moj/components/date-picker/macro.njk" import mojDatePicker %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "partials/mojPagination/macro.njk" import mojPagination %}
{% from "partials/deallocateSuccessError/macro.njk" import deallocateSuccessError %}
{% from "partials/alertFlags/macro.njk" import alertFlags %}

{% set fullWidth = true %}
{% set pageTitle -%}
  Allocate {{ policyStaffs }} automatically
{%- endset %}

{% block pageHeader %}
  {{ deallocateSuccessError(apiError, count) }}
{% endblock %}

{% block innerContent %}
  <h1 class="govuk-heading-l govuk-!-margin-bottom-6">{{ pageTitle }}</h1>
  {% if records.length > 0 %}
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <p>{{ policyStaffs | sentenceCase }} have been recommended for the prisoners listed below without a current {{ policyStaff }}. Only {{ policyStaffs }} with an active status have been recommended.</p>
          <p>These recommendations prioritise {{ policyStaffs }} who have:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>previously been assigned to a specific prisoner</li>
            <li>the most available capacity</li>
          </ul>
          <p>You can change these by selecting alternative {{ policyStaffs }} from the dropdown menus. {{ policyStaffs | sentenceCase }} will only be allocated to prisoners when you select save.</p>
        </div>
      </div>
      <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        {% set rows = [] %}
        {% for item in records %}
          {% set rows = (rows.push([
            {
              html: '<a class="govuk-link--no-visited-state" target="_blank" href="' + prisonerProfileUrl + '/prisoner/' + item.personIdentifier + '">' + item | lastNameCommaFirstName + "</a><br/>" + item.personIdentifier,
              attributes: {
              "data-sort-value": item | lastNameCommaFirstName
            }
            },
            {
              text: item.location
            },
            {
              html: alertFlags(prisonerProfileUrl + '/prisoner/' + item.personIdentifier + '/alerts/active', item.relevantAlertCodes, item.remainingAlertCount),
              attributes: {
                "data-sort-value": item | alertsSortValue
              }
            },
            {
              text: item.staffMember | lastNameCommaFirstName  | default('None', true)
            },
            {
              html: govukSelect({
                attributes: {
                  'staff-id': item.staffMember.staffId or '',
                  'person-id': item.personIdentifier,
                  'recommended-id': item.recommendation
                },
                id: "selectStaffMember",
                classes: 'placeholder-select',
                name: "selectStaffMember",
                text: 'Select ' + policyStaff,
                formGroup: {
                  classes: "govuk-!-margin-0"
                },
                items: ([] | addSelectValue(item.recommendedText, true, item.personIdentifier+ ':allocate:' + item.recommendation + ':auto', true) | addSelectValue(longestOption, true, '', false)) if item.recommendedText else ([] | addSelectValue('Select ' + policyStaff, true, '', true) | addSelectValue(longestOption, true, '1', false))
              })
            },
            {
              html: '<a class="govuk-link govuk-link--no-visited-state" href="/' + policyPath + '/prisoner-allocation-history/' + item.personIdentifier + '">View allocation history</a>' if item.hasAllocationHistory else ''
            }
          ] | removeNullish), rows) %}
        {% endfor %}

        {{ mojPagination(records.length) }}

        {{ govukTable({
            attributes: {
              "data-module": "moj-sortable-table"
            },
            classes: 'table-vertical-align-middle govuk-!-margin-top-6 center-align-content',
            head: [
              {
                text: 'Name and prisoner number',
                key: 'name',
                attributes: {
                  "aria-sort": "ascending"
                }
              },
              {
                text: "Residential location",
                key: 'location',
                attributes: {
                  "aria-sort": "none"
                }
              },
              {
                text: "Relevant alerts",
                key: 'alerts',
                attributes: {
                  "aria-sort": "none"
                }
              },
              {
                text: policyStaff | sentenceCase,
                key: policyStaff,
                attributes: {
                  "aria-sort": "none"
                }
              },
              {
                text: "Change " + policyStaff,
                key: 'change'
              },
              {
                text: ""
              }
            ] | removeNullish,
            rows: rows
          }) }}

        {{ mojPagination(records.length) }}

        {{ govukButton({
            text: "Save changes",
            preventDoubleClick: true
        }) }}
      </form>
    {% else %}
      <p class="govuk-!-margin-top-8">All prisoners currently have a {{ policyStaff }} assigned.</p>
    {% endif %}
  </div>
{% endblock %}

{% block pageScripts %}
  <script nonce="{{ cspNonce }}">
    const staff = {{ staff | dump | safe }}

    function createOption(text, value, selected) {
      const option = document.createElement('option')
      option.text = text
      option.value = value
      if (selected) {
        option.selected = selected
      }
      return option
    }

    window.onload = function () {
      // const dropdown = document.getElementById('selectStaffMemberSingleton')
      document.querySelectorAll('.placeholder-select').forEach(select => {
        select.addEventListener('click', e => {
          if (select.children.length > 2) return

          // Delete all children after the first
          select.innerHTML = ''

          const staffId = select.attributes['staff-id']?.value || ''
          const personId = select.attributes['person-id']?.value || '' 
          const recommendedId = select.attributes['recommended-id']?.value || ''

          // Insert Select (policyName) as first option always
          select.appendChild(createOption(`Select {{policyStaff}}`, ''))

          // Equal to conditionallyAddDeallocate
          if (staffId) {
            select.appendChild(createOption('Deallocate', `${personId}:deallocate:${staffId}`))
          }

          staff.forEach(option => {
            let opt = createOption(option.text, option.value)

            // Equal to excludeCurrentStaffMember
            if (staffId && opt.value.includes(`:${staffId}`)) {
              return
            }

            if (recommendedId && opt.value.includes(`:${recommendedId}`)) {
              opt.selected = true
            }

            // Equal to mergePrisonerKeyworkerIds
            opt.value = `${personId}:${opt.value}`
            select.appendChild(opt)
          })

        })

      })
    }
  </script>
{% endblock %}
