{% extends "partials/layout.njk" %}
{% from "moj/components/date-picker/macro.njk" import mojDatePicker %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "partials/mojPagination/macro.njk" import mojPagination %}
{% from "partials/deallocateSuccessError/macro.njk" import deallocateSuccessError %}
{% from "partials/alertFlags/macro.njk" import alertFlags %}

{% set fullWidth = true %}
{% set pageTitle -%}
  Allocate {{ policyStaffs }} automatically
{%- endset %}

{% block pageHeader %}
  {{ deallocateSuccessError(apiError, count) }}
{% endblock %}

{% block innerContent %}
  <h1 class="govuk-heading-l govuk-!-margin-bottom-6">{{ pageTitle }}</h1>
  {% if records.length > 0 %}
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <p>{{ policyStaffs | sentenceCase }} have been recommended for the prisoners listed below without a current {{ policyStaff }}. Only {{ policyStaffs }} with an active status have been recommended.</p>
          <p>These recommendations prioritise {{ policyStaffs }} who have:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>previously been assigned to a specific prisoner</li>
            <li>the most available capacity</li>
          </ul>
          <p>You can change these by selecting alternative {{ policyStaffs }} from the dropdown menus. {{ policyStaffs | sentenceCase }} will only be allocated to prisoners when you select save.</p>
        </div>
      </div>
      <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        {% set rows = [] %}
        {% for item in records %}
          {% if jsEnabled %}
            {% set items = ([] | addSelectValue(item.recommendedText, true, item.personIdentifier+ ':allocate:' + item.recommendation + ':auto', true)) if item.recommendedText else ([] | addSelectValue('Select ' + policyStaff, true, '', true)) %}
          {% else %}
            {% set items = item.kwDropdown | mergePrisonerKeyworkerIds(item.personIdentifier, item.recommendation) | addSelectValue('Select ' + policyStaff, true, '', false) | setSelectedValue(item.personIdentifier+ ':allocate:' + item.recommendation + ':auto') %}
          {% endif %}

          {% set rows = (rows.push([
            {
              html: '<a class="govuk-link--no-visited-state" href="' + item.profileHref + '">' + item | lastNameCommaFirstName + "</a><br/>" + item.personIdentifier,
              attributes: {
              "data-sort-value": item | lastNameCommaFirstName
            }
            },
            {
              text: item.location
            },
            {
              html: alertFlags(item.alertsHref, item.relevantAlertCodes, item.remainingAlertCount),
              attributes: {
                "data-sort-value": item | alertsSortValue
              }
            },
            {
              text: item.staffMember | lastNameCommaFirstName  | default('None', true)
            },
            {
              html: govukSelect({
                attributes: {
                  'staff-id': item.staffMember.staffId or '',
                  'person-id': item.personIdentifier,
                  'recommended-id': item.recommendation,
                  'aria-label': 'Select ' + policyStaff
                },
                id: "selectStaffMember",
                classes: 'placeholder-select',
                name: "selectStaffMember",
                text: 'Select ' + policyStaff,
                formGroup: {
                  classes: "govuk-!-margin-0"
                },
                items: items
              })
            },
            {
              html: '<a class="govuk-link govuk-link--no-visited-state" href="/' + policyPath + '/prisoner-allocation-history/' + item.personIdentifier + '">View allocation history</a>' if item.hasAllocationHistory else ''
            }
          ] | removeNullish), rows) %}
        {% endfor %}

        {{ mojPagination(records.length) }}

        {{ govukTable({
            caption: "Column headers with buttons are sortable.",
            captionClasses: "govuk-visually-hidden",
            attributes: {
              "data-module": "moj-sortable-table"
            },
            classes: 'table-vertical-align-middle govuk-!-margin-top-6 center-align-content',
            head: [
              {
                text: 'Name and prisoner number',
                key: 'name',
                attributes: {
                  "aria-sort": "ascending"
                }
              },
              {
                text: "Residential location",
                key: 'location',
                attributes: {
                  "aria-sort": "none"
                }
              },
              {
                text: "Relevant alerts",
                key: 'alerts',
                attributes: {
                  "aria-sort": "none"
                }
              },
              {
                text: policyStaff | sentenceCase,
                key: policyStaff,
                attributes: {
                  "aria-sort": "none"
                }
              },
              {
                text: "Change " + policyStaff,
                key: 'change'
              },
              {
                text: ""
              }
            ] | removeNullish,
            rows: rows
          }) }}

        {{ mojPagination(records.length) }}

        {{ govukButton({
            text: "Save changes",
            preventDoubleClick: true
        }) }}
      </form>
    {% else %}
      <p class="govuk-!-margin-top-8">All prisoners currently have a {{ policyStaff }} assigned.</p>
    {% endif %}
  </div>
{% endblock %}

{% block pageScripts %}
  {% if jsEnabled %}
    <script nonce="{{ cspNonce }}">
      window.onload = function () {
        window.initialiseDropdown?.('{{ policyStaff }}', {{ staff | dump | safe }})
      }
    </script>
    {% endif %}
{% endblock %}
