{% extends "partials/layout.njk" %}
{% from "partials/statusTag/macro.njk" import statusTag %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/validatedDateInput/macro.njk" import validatedDateInput %}

{% set pageTitle = "Return date" %}

{% block innerContent %}
  <div class="govuk-width-container govuk-body">
    <form method="post">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      {{ validatedDateInput({
        id: "reactivateOn",
        title: {
          text: "When will " + staff | firstNameSpaceLastName + " return from annual leave?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6 main-heading"
        },
        hintText: "For example, 27 3 2025. Their status will change to Active from the date entered.",
        validationErrors: validationErrors,
        day: day,
        month: month,
        year: year
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue",
          preventDoubleClick: true
        }) }}

        {{ govukButton({
          text: "Cancel",
          classes: "govuk-button--secondary",
          href: "cancel",
          preventDoubleClick: true
        }) }}
      </div>
    </form>
  </div>
{% endblock %}
