{% extends "partials/layout.njk" %}
{% from "partials/statusTag/macro.njk" import statusTag %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "partials/submitButton/macro.njk" import submitButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "./components/statCard.njk" import statCard %}
{% from "partials/mojPagination/macro.njk" import mojPagination %}
{% from "partials/deallocateSuccessError/macro.njk" import deallocateSuccessError %}
{% from "partials/alertFlags/macro.njk" import alertFlags %}
{%- from "moj/components/alert/macro.njk" import mojAlert -%}

{% set fullWidth = true %}
{% set pageTitle -%}
{{ policyStaff | sentenceCase }} profile
{%- endset %}

{% block pageHeader %}
  {{ deallocateSuccessError(apiError, count) }}
{% endblock %}

{% block innerContent %}

  <div class="govuk-width-container">

    <div class="govuk-grid-row govuk-!-margin-0">
      <h1 class="govuk-heading-l govuk-!-display-inline-block govuk-!-margin-0">{{ staffMember | firstNameSpaceLastName }}</h1>
      <p class="govuk-!-margin-left-2 govuk-!-display-inline-block govuk-!-margin-0 ">
        {{ statusTag({ text: status.description, fullText: true }) }}
      </p>
      {% if user | hasPermission('allocate') %}
        <a class="govuk-!-margin-left-2 govuk-link govuk-link--no-visited-state govuk-!-display-inline-block " href="../start-update-staff/{{ staffId }}?proceedTo=update-capacity-status-and-working-pattern">Update capacity, status or working pattern</a>
      {% endif %}
    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"/>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter left-aligned">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Establishment</h2>
        <p class="govuk-!-margin-bottom-2">{{ user.activeCaseLoad.description }}</p>
      </div>

      <div class="govuk-grid-column-one-quarter left-aligned">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Working pattern</h2>
        <p class="govuk-!-margin-bottom-2">{{ staffRole.scheduleType.description }}</p>
      </div>

      <div class="govuk-grid-column-one-quarter left-aligned">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Prisoners allocated</h2>
        <p class="govuk-!-margin-bottom-2">{{ allocated }}</p>
      </div>

      <div class="govuk-grid-column-one-quarter left-aligned">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Maximum capacity</h2>
        <p class="govuk-!-margin-bottom-2">{{ capacity }}</p>
      </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"/>

    <h2 class="govuk-body-l">
      <strong>Statistics for period:</strong>
      Displaying statistics from {{ stats.current.from | dateString }} to {{ stats.current.to | dateString }}. Comparing against statistics from {{ stats.previous.from | dateString }} to {{ stats.previous.to | dateString }}.
    </h2>
    <div class="govuk-grid-row">
      {{ statCard('Projected sessions', stats.current.projectedComplianceEvents, stats.previous.projectedComplianceEvents ) }}

      {{ statCard('Recorded case note sessions', stats.current.recordedComplianceEvents, stats.previous.recordedComplianceEvents ) }}

      {{ statCard('Session compliance', stats.current.complianceRate, stats.previous.complianceRate, 'percentage') }}

      {{ statCard('Recorded case note entries', stats.current.recordedEvents | mapProperty('count') | sum, stats.previous.recordedEvents | mapProperty('count') | sum) }}
    </div>
    <p class="govuk-!-margin-top-5">These figures are estimates based on the number of prisoners currently allocated to this {{ policyStaff }}. If their allocations have changed during the reporting period these figures may not be correct.</p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"/>

    <hr class="govuk-section-break govuk-section-break--m"/>

    {% if user | hasPermission('allocate') %}
      <p>Select {{ policyStaffs }} from the dropdown lists to reallocate or deallocate prisoners.</p>
      <p>{{ policyStaffs | sentenceCase }} will only be allocated when you save your changes.</p>

      <br/>
    {% endif %}

    <h2 class="govuk-heading-m govuk-!-display-inline">Current allocations</h2>

    {% set rows = [] %}
    {% for item in allocations %}
      {% set rows = (rows.push([
          {
            html: '<a class="govuk-link--no-visited-state" href="' + item.profileHref + '">' + item.prisoner | lastNameCommaFirstName + "</a><br/>" + item.prisoner.prisonNumber,
            attributes: {
            "data-sort-value": item.prisoner | lastNameCommaFirstName
          }
          },
          {
            text: item.prisoner.cellLocation
          },
          {
            html: alertFlags(item.alertsHref, item.prisoner.relevantAlertCodes, item.prisoner.remainingAlertCount),
            attributes: {
            "data-sort-value": item.prisoner | alertsSortValue
          }
          },
          {
            text: item.latestSession.occurredAt | formatDateConcise | default('None', true) if item.latestSession else 'None'
          },
          {
            text: item.stats.recordedComplianceEvents or '0',
            attributes: {
            "data-sort-value": item.stats.recordedComplianceEvents
          }
          },
          {
            html: govukSelect({
              attributes: {
                'staff-id': staffId or '',
                'person-id': item.prisoner.prisonNumber
              },
              id: "selectStaffMember",
              classes: 'placeholder-select',
              name: "selectStaffMember",
              text: 'Select ' + policyStaff,
              formGroup: {
                classes: "govuk-!-margin-0"
              },
              items: ([] | addSelectValue('Select ' + policyStaff, true, '', true)) if jsEnabled else (staff | excludeCurrentStaffMember({staffId: staffId}) | conditionallyAddDeallocate(staffId) | mergePrisonerKeyworkerIds(item.prisoner.prisonNumber) | addSelectValue('Select ' + policyStaff) )
            })
          } if user | hasPermission('allocate') else undefined,
          {
            html: '<a class="govuk-link govuk-link--no-visited-state" href="/' + policyPath + '/prisoner-allocation-history/' + item.prisoner.prisonNumber + '">View allocation history</a>'
          }
        ] | removeNullish), rows) %}
    {% endfor %}

    <form method="post" >
      <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
      {% if allocations.length %}
        {{ mojPagination(allocations.length) }}

        {{ govukTable({
          attributes: {
            "data-module": "moj-sortable-table"
          },
          classes: 'table-vertical-align-middle govuk-!-margin-top-6 center-align-content',
          head: [
            {
              text: 'Name and prisoner number',
              key: 'name',
              attributes: {
                "aria-sort": "ascending"
              }
            },
            {
              text: "Residential location",
              key: 'location',
              attributes: {
                "aria-sort": "none"
              }
            },
            {
              text: "Relevant alerts",
              key: 'alerts',
              attributes: {
              "aria-sort": "none"
            }
            },
            {
              text: "Most recent session",
              key: 'recentSession',
              attributes: {
                "aria-sort": "none"
              }
            },
            {
              text: "Sessions in last month",
              key: 'sessionCount',
              attributes: {
              "aria-sort": "none"
            }
            },
            {
              text: "Change " + policyStaff
            } if user | hasPermission('allocate') else undefined,
            {
              text: ''
            }
          ] | removeNullish,
          rows: rows
        }) }}

        {{ mojPagination(allocations.length) }}

        {% if user | hasPermission('allocate') %}
          {{ submitButton({
            text: "Save changes",
            preventDoubleClick: true
          }) }}
        {% endif %}

      {% else %}
        <p class="govuk-!-margin-bottom-6">There are no allocations for this {{ policyStaff }}.</p>
      {% endif %}
    </form>
  </div>

{% endblock %}

{% block pageScripts %}
  {% if jsEnabled %}
    <script nonce="{{ cspNonce }}">
      window.onload = function () {
        window.initialiseDropdown('{{ policyStaff }}', {{ staff | dump | safe }})
      }
    </script>
    {% endif %}
{% endblock %}